.collection {
  display: flex;
  flex-direction: column;
  gap: 20vh;

  padding-top: calc(var(--window-height) * 0.4);
  margin-top: calc(var(--nav-height) * -1);

  img {
    position: sticky;
    top: calc(var(--window-height) * 0.4);

    width: 60vw;
    height: 20vh;

    object-fit: contain;

    transform: translate3d(0, -50%, 0);
    align-self: center;

<<<<<<< HEAD
    opacity: 0;
    transition: opacity 0.6s ease-out;

    &.visible {
      opacity: 1;
    }

=======
>>>>>>> upstream/main
    &:last-child {
      margin-bottom: calc(var(--window-height) * 0.35);
    }
  }
}

.hidden {
  display: none;
}
